<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" data-th-href="@{/css/gtvg.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Prediction Assistant</title>
</head>

<body>
<div class="container">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-2">Contract History</h1>
            <h3 class="display-5" th:text="'History of Contract[' + ${contractId} + ']'"></h3>
        </div>
    </div>
    <h2 th:text="${marketName}"></h2>
    <h4 th:text="${contractName}"></h4>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Timestamp</th>
            <th>Buy Yes</th>
            <th>Sell Yes</th>
            <th>Buy No</th>
            <th>Sell No</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract,iter : ${contractHistoryList}">
            <td th:text="${iter.index}"></td>
            <td th:text="${marketHistoryList.get(iter.index).getTimeStamp()}"></td>
            <td th:text="${contract.getBestBuyYesCost()}"></td>
            <td th:text="${contract.getBestSellYesCost()}"></td>
            <td th:text="${contract.getBestBuyNoCost()}"></td>
            <td th:text="${contract.getBestSellNoCost()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
